@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-17">Kia Ora</h1>
    <hi class="display-4"<p>Welcome To The Best Car Rental In New Zealand</a>.</p>
    <p>Get Your Booking Done Now!!!</a></p>
        </div>
    
